DATABASE_URL=mongodb+srv://<username>:<password>@<cluster>/<database>?appName=<app>


JWT_ACCESS_TOKEN_SECRET=change-me-access
JWT_REFRESH_TOKEN_SECRET=change-me-refresh

JWT_ACCESS_TOKEN_EXPIRATION=36000         # access token lifetime in seconds
JWT_REFRESH_TOKEN_EXPIRATION_MS=604800000 # refresh token lifetime in milliseconds (7 days)

PORT=3000
BASE_URL=http://localhost:3000

# Redis (used by BullMQ queue + short URL cache)
REDIS_URL=redis://localhost:6379

